<h2>Word: <%= @word.name %></h2>

<h3>Word Definitions</h3>

  <% if @word.definitions %>
    <ul>
      <% @word.definitions.each do |definition| %>
        <input type="checkbox" id=<%= @word.id %> name=<%= definition.id %>> 
        <label for=<%= @word.id %>><a href="/words/<%= @word.id %>/definitions/<%= definition.id %>"><%= definition.name %></a></label><br>
      <% end %>
    </ul>
  <% else %>
    <p>There are no definitions listed for this word yet.</p>
  <% end %>

<h4>Add a definition:</h4>

<form action="/words/<%= @word.id %>/definitions" method="post">
  <div class="form-group">
    <label for="definition_name">Definition</label>
    <input id="definition_name" name="definition_name" class="form-control" type="text">
    <label for="definition_name2"> Second Definition</label>
    <input id="definition_name2" name="definition_name2" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add definition</button>
</form>


<p><a href="/words/<%= @word.id %>/edit">Edit word</a></p>
<p><a href="/words">Return to word list</a></p>